@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$fontMain: 'Bebas Neue', cursive;

$fontSizeSmall: 1em;
$fontSizeMedium: 2em;
$fontSizeBig: 3em;

$fontColor: #ffffff

